.title{
    color: #000000;
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    line-height: 1.5em;
    text-align: center;
    text-transform: uppercase;
    background-color: #7B7F80;
}

.result {
    line-height: 1.25em;
}