.delivery-btn {
    background-color: #1C2453; 
    border: 1px solid #1C2453;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn-clear{
    background-color: #1C2453; 
    border: 1px solid #1C2453;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn-item{
    background-color: #1C2453; 
    border: 1px solid #1C2453;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.addemail-btn{
    background-color: #1C2453; 
    border: 1px solid #1C2453;
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}