<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DeliveryPage</title>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>    
<body>
    <div id="dp"></div>
    <script type="text/babel">
        function ShowPage() {
            return <h1>delivery</h1>
        }

        class AddEmailButton extends React.Component {

        }
        class EmailList extends React.Component {

        }
        class RemoveEmailButton extends React.Component {

        }
        class DownloadButton extends React.Component {

        }
        class SendButton extends React.Component {

        }
        ReactDOM.render(<ShowPage />,document.getElementById('dp'))
    </script>
</body>
</html>
