<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FinishPage</title>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>    
<body>
    <div id="fp"></div>
    <script type="text/babel">
        function ConstantText(props) {
            
        }
        function DiagramImage(props) {
            
        }
        function ShowPage() {
            return <h1>finish</h1>
        }

        class FinishButton extends React.Component {

        }
        ReactDOM.render(<ShowPage />,document.getElementById('fp'))
    </script>
</body>
</html>
