<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ModelCreationPage</title>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>    
<body>
    <div id="mcp"></div>
    <script type="text/babel">
        function ShowPage() {
            return <h1>modelcreation</h1>
        }

        class ConfirmButton extends React.Component {

        }
        class DatabaseList extends React.Component {

        }
        class RemoveButton extends React.Component {

        }
        class DatasetList extends React.Component {

        }
        class AddDatasetButton extends React.Component {

        }
        class ImputationList extends React.Component {

        }
        class FeatureList extends React.Component {

        }
        class NormalizationList extends React.Component {

        }
        class ModelTypeList extends React.Component {

        }
        class TrainButton extends React.Component {

        }
        ReactDOM.render(<ShowPage />,document.getElementById('mcp'))
    </script>
</body>
</html>
