<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ReferringPage</title>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>    
<body>
    <div id="rp"></div>
    <script type="text/babel">
        function ConstantText(props) {
            
        }
        function LinkText(props) {
            
        }
        function UsernameText(props) {
            
        }
        function QRImage(props) {
            
        }
        function ShowPage() {
            return <h1>referring</h1>
        }

        class LoadModelButton extends React.Component {

        }
        class ModelList extends React.Component {

        }
        class ProjectList extends React.Component {

        }
        class LoginButton extends React.Component {

        }
        class NewProjectButton extends React.Component {

        }
        ReactDOM.render(<ShowPage />,document.getElementById('rp'))
    </script>
</body>
</html>
